.customer-service {
   width: 80%;
   margin: 0 auto; 
   margin-block-end: 12rem;
}

.customer-service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.8rem;
    /* align-items: start; */
}

.service-grid-item {
    /* border: .2px #000000ac solid; */
    border-top: .4px #00000053 solid;
    border-left: .4px #00000053 solid;
    padding: 2.5rem 3rem;
    gap: .7rem;
    position: relative;
    display: flex;
}

.item {
    align-items: center;
    text-align: center;
    font-weight: 600;
}


.item-1,.item-2,.item-3,.item-4,.item-5 {
    transition: all 0.6s ease-in-out;
}

.item-1:hover,.item-2:hover,.item-3:hover,.item-4:hover {
    background-color: #EEEEEE;
    /* color: white; */
    border: none;
    cursor: pointer;
}

.item-4, .item-5 {
    border-right: .4px #00000053 solid;
}

.item-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / span 4;
    border-bottom: .4px #00000053 solid;
    position: relative;
    /* height: 50rem; */
    justify-content: space-between;
    gap: 8rem;
    /* flex-wrap: wrap; */
}

.customer-image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* align-items: start; */
}

.grid-item {
    overflow: hidden;
    width: 20rem;
    height: 20rem;
    /* object-fit: cover; */
}

.item-5-info {
    transform: translateY(7rem);
}

.headset {
    background-color: #EEEEEE;
    justify-content: center;
    padding: 2rem;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.headset i {
    font-weight: 900;
}

.headset::before {
    content: "";
    background-color: #eeeeee69;
}

.item-5-info-head, .headset{
    margin-block-end: 1rem;
}

.item-5-info-head {
    font-weight: 600;
}

.item-5-info p {
    margin-block-start: 1.5rem;
}